*,
*::before,
*::after {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	scrollbar-width: none;
	-ms-overflow-style: none;
	user-select: none;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
}

*::-webkit-scrollbar {
	display: none;
}

html,
body {
	color: white;
	background-color: black;
	overflow: hidden;
	height: 100vh;
	width: 100vw;
	font: 16px/1.5 'Roboto', sans-serif;
}

.container {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	height: 100vh;
	flex: 1;
}

.logo {
	text-align: center;
	position: absolute;
	top: 40%;
	left: 50%;
	transform: translate(-50%, -50%);
	width: 100%;
}

.purpose {
	font-size: 50px;
	text-align: center;
}

.launch {
	font-size: 20px;
	margin-top: 40px;
	text-align: center;
}

footer {
	position: absolute;
	bottom: 0;
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	padding-bottom: 10px;
}
footer a {
	margin: 0 10px;
}

footer a:visited,
a {
	color: #000000;
	text-decoration: none;
}
